 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>lUsers</title>
     <meta name="description" content="DESCRIPTION">
    <!-- <link rel="stylesheet" href="PATH" type=> -->

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>
   <h2> Hello there, {{cookieName}}, I have been expecting you </h2>

<p>Filter your options because standards:</p>
<form id="selectah">
        <select name="city" form="selectah">
            {{#city}}
          <option value={{.}}>{{.}}</option>
            {{/city}}
      </select>
      <select name="color" form="selectah">
           {{#color}}
          <option value={{.}}>{{.}}</option>
          {{/color}}
      </select>
      <input type="submit" id="selectah">
</form>
       <ol>
   {{#myUsers}}
      <li> {{first_name}} {{last_name}}
          <ul>
              <li> {{age}}
             <li> {{homepage}}
             <li> {{city}}
            <li>  {{color}}
          </ul>
   {{/myUsers}}
   </ol>
   </script>
 </body>

 </html>
